
a{
    text-decoration: none;
}

@media screen and (max-width:1800px ){
.nav-con div,.nav-con ul{
    display: inline-block;
}
.nav-con ul li{
    padding: 10px;
    display: inline-block;
    list-style-type: none;

}
.nav-con ul li a{
   
    color: black;
    text-decoration: none;
}
.nav-con ul li:hover{
   background: lightblue;
    
}
#logo{
    font-size: 30px;
}
.main{

    padding: auto;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
}