body{
    padding: 0px;
    margin: 0px;
    background-color: #aab6c1;
    font-family: sans-serif;
 }
.btn{
    background-color: #f627d7;
    color:white;
    padding: 10px;
    margin: 5px;
    border: none;
}
#logo{
    font-size: 30px;
    text-align: center;
    display: inline-block;
    margin: auto;
}
